page-home {

  // .bg{
  //   background: -moz-linear-gradient(bottom, rgba(0,188,212, 1) 0%, rgba(0,188,212, 0.8) 50%, rgba(0,188,212, 0.6) 100%); /* FF3.6-15 */
  //   background: -webkit-linear-gradient(bottom, rgba(0,188,212, 1) 0%,rgba(0,188,212, 0.8) 50%,rgba(0,188,212, 0.6) 100%); /* Chrome10-25,Safari5.1-6 */
  //   background: linear-gradient(to bottom, rgba(0,188,212, 1),rgba(109, 226, 170, 0.6), rgba(37, 240, 172, 0.75) ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e42d9f', endColorstr='#e6d62a94',GradientType=0 ); /* IE6-9 */
  // }

  

  .bg-grey{
    background-color: rgba(232, 233, 237, 0.85);
  }

  .margin-top{
    margin-top: 10px !important;
  }

  .small-padding{
    padding: 2px !important;
  }

  .circle {
    background: url("http://lorempixel.com/100/100/sports");
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #fff;
    line-height: 100px;
    text-align: center;
    box-shadow: 2px 2px 2px #999;

    h3{
      margin-top: 15px;
      background: rgba(34,42,34, 0.6);
      z-index: 1;
      font-size: 1.6rem;
      border-radius: 10px;
      color: #fff;
    }
  }

  ion-card .card{
    position: relative;
    text-align: center;
    padding: 0px  !important;
    margin: 0px !important;
    width: 100%  !important;
    border-radius: 2px 2px 2px;
    background: transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  .card-ios {
    margin: 0px;
    // border-radius: 5px;
    width: 100%;
    font-size: 1.4rem;
    background: transparent;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  .card-md {
    margin: 0px;
    // border-radius: 5px;
    width: 100%;
    font-size: 1.4rem;
    background: transparent;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  .card-wp {
    margin: 0px;
    // border-radius: 5px;
    width: 100%;
    font-size: 1.4rem;
    background: transparent;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  .card-title {
    position: absolute;
    top: 36%;
    right:0;
    font-size: 2rem;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  // .card-subtitle {
  //   font-size: 1.0em;
  //   position: absolute;
  //   top: 62%;
  //   width: 100%;
  //   color: #fff;
  // }

}
